<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projekt.Properties.Settings.semesterprojekt1ConnectionString"
            connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=semesterprojekt1;Persist Security Info=True;User ID=semesterprojekt1;Password=Zf49T!jU!np0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>